---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection('posts');//Astro.glob("../pages/posts/*.md");
const pageTitle = "博文";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>这是一个博文页面 {pageTitle}</h1>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
