---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "首页";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>博客副标题</h2>
</BaseLayout>
