---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Geeting";
const pageTitle = "首页";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>博客副标题</h2>
  <Greeting
    client:load
    messages={["Hej", "Hello", "Howdy", "Hey there", "Habari"]}
  />
</BaseLayout>
