---

---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body class="bg-[#D5D6DC]">
    <section
      class="h-[800px] bg-blue-200 flex flex-col bg-cover bg-no-repeat bg-center"
      style="background-image: url(/images/banner.jpg);"
    >
      <header
        class="box-border mt-4 m-auto bg-white w-[1440px] max-h-[80px] rounded-xl flex py-[18px] px-[72px]"
      >
        <div class="flex items-center">
          <img src="/images/logo.png" class="w-10 h-10 rounded-md" alt="" />
          <span class="ml-2 text-xl text-[#2C2D2F] font-semibold">菲心宝</span>
        </div>
        <nav class="ml-16">
          <ul
            class="list-none flex m-0 p-0 space-x-10 text-[#2C2D2F] h-full items-center text-xl"
          >
            <li>首页</li>
            <li>产品服务</li>
            <li>
              <a href="about.html" class="text-[#2C2D2F] decoration-transparent"
                >关于我们</a>
            </li>
            <li>加入我们</li>
          </ul>
        </nav>
      </header>
      <div class="text-white text-7xl flex-1 w-[1440px] m-auto relative">
        <span
          class="absolute top-[200px]"
          style="text-shadow: 1px 1px 2px yellow, 0 0 1em blue, 0 0 0.2em blue;"
        >
          智慧时代，智造美好生活
        </span>
      </div>
    </section>

    <section class="py-20 bg-white">
      <div class="w-[1200px] m-auto">
        <div class="flex items-center">
          <h1 class="text-4xl text-[#2c2d2f]">关于我们</h1>
          <h2 class="ml-4 text-2xl text-[#969DAF] font-normal">About Us</h2>
        </div>

        <div class="mt-10 h-[458px] relative">
          <div
            class="absolute w-[680px] h-[384px] top-0 left-0 z-10 bg-cover bg-center"
            style="background-image: url(/images/about-bg.jpg);"
          >
          </div>
          <div
            class="absolute w-[680px] h-[384px] bottom-0 right-0 bg-[#F6F7F9] pl-[233px] pr-[63px] flex items-center text-[#5C6271]"
          >
            <p class="text-justify">
              我们为您提供专业的软件开发服务，让您的工作更高效、更轻松。<br />
              <br />
               我们的软件开发团队具有丰富的经验和技能，能够为您提供高质量、高效的软件开发解决方案。<br
              />
              <br />
               我们的软件开发服务涵盖了许多领域，包括移动应用程序开发、Web应用程序开发、API开发等。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-20 bg-[#F6F7F9]">
      <div class="w-[1200px] m-auto">
        <div class="flex items-center">
          <h1 class="text-4xl text-[#2c2d2f]">业务领域</h1>
          <h2 class="ml-4 text-2xl text-[#969DAF] font-normal">
            Business Area
          </h2>
        </div>
        <div class="mt-10 flex gap-x-5">
          <div class="flex-1 grid grid-cols-2 gap-5">
            <div class="bg-white py-[15px] px-8">
              <div class="text-[#2C2D2F] text-2xl pt-8 pr-8 relative">
                <div class="absolute text-6xl top-0 left-0 text-[#F6F7F9]">
                  01
                </div>
                <span class="relative z-10">软件开发</span>
              </div>
              <div class="mt-5 text-[#A5A6AB] text-base">
                我们为您提供专业的软件开发服务，让您的工作更高效、更轻松。我们的软件开发团队具有丰富的经验和技能，能够为您提供高质量、高效的软件开发解决方案。
                包括移动应用程序开发、Web应用程序开发、API开发等。
              </div>
            </div>
            <div class="bg-white py-[15px] px-8">
              <div class="text-[#2C2D2F] text-2xl pt-8 pr-8 relative">
                <div class="absolute text-6xl top-0 left-0 text-[#F6F7F9]">
                  02
                </div>
                <span class="relative z-10">接口服务</span>
              </div>
              <div class="mt-5 text-[#A5A6AB] text-base">
                我们为您提供高质量的接口服务，让您与现有系统更好地集成。我们的接口服务能够帮助您实现不同系统之间的数据交换和整合，让您的工作更加高效。
                包括API接口、数据库接口、文件接口等。
              </div>
            </div>
            <div class="bg-white py-[15px] px-8">
              <div class="text-[#2C2D2F] text-2xl pt-8 pr-8 relative">
                <div class="absolute text-6xl top-0 left-0 text-[#F6F7F9]">
                  03
                </div>
                <span class="relative z-10">建站服务</span>
              </div>
              <div class="mt-5 text-[#A5A6AB] text-base">
                我们为您提供专业的网站建设服务，让您拥有一个美观、实用的网站。我们的网站建设团队具有丰富的经验和技能，能够为您提供高质量、高效的网站建设解决方案。
                包括网站设计、网站开发、搜索引擎优化等。
              </div>
            </div>
            <div class="bg-white py-[15px] px-8">
              <div class="text-[#2C2D2F] text-2xl pt-8 pr-8 relative">
                <div class="absolute text-6xl top-0 left-0 text-[#F6F7F9]">
                  04
                </div>
                <span class="relative z-10">营销自动化平台</span>
              </div>
              <div class="mt-5 text-[#A5A6AB] text-base">
                我们为您提供自动化营销平台，让您轻松实现营销自动化。我们的自动化营销平台具有丰富的功能，能够帮助您自动化各种营销活动，例如电子邮件营销、社交媒体营销、搜索引擎优化等。
                包括营销策略、营销工具、数据分析等。
              </div>
            </div>
          </div>
          <div
            class="bg-blue-200 w-[320px] bg-cover bg-center"
            style="background-image: url(/images/bussiness-bg.png);"
          >
          </div>
        </div>
      </div>
    </section>

    <section class="py-20 bg-white">
      <div class="w-[1200px] m-auto">
        <div class="flex items-center">
          <h1 class="text-4xl text-[#2c2d2f]">产品服务</h1>
          <h2 class="ml-4 text-2xl text-[#969DAF] font-normal">
            Product Services
          </h2>
        </div>
        <div class="flex gap-6 justify-between">
          <div
            class="flex-1 flex flex-col h-[440px] shadow-sm rounded-lg overflow-hidden"
          >
            <div
              class="flex-1 bg-blue-200 bg-cover bg-no-repeat bg-center"
              style="background-image: url(/images/service-bg1.jpg);"
            >
            </div>
            <div class="h-[200px] p-4">
              <div class="text-xl text-[#2C2D2F]">智能家居控制系统</div>
              <div class="mt-3 text-base text-[#A5A6AB]">
                智能家居控制系统允许用户通过手机或平板电脑远程控制家居电器和设备。
                用户可以通过设置自动化规则来控制家居电器的开关和执行其他操作，例如调整温度、打开或关闭窗帘等。
                该系统支持多种智能家居设备，包括空调、电视、音响、灯具等
              </div>
            </div>
          </div>
          <div
            class="flex-1 flex flex-col h-[440px] shadow-sm rounded-lg overflow-hidden"
          >
            <div
              class="flex-1 bg-blue-200 bg-cover bg-no-repeat bg-center"
              style="background-image: url(/images/service-bg2.jpg);"
            >
            </div>
            <div class="h-[200px] p-4">
              <div class="text-xl text-[#2C2D2F]">企业级CRM 服务内容</div>
              <div class="mt-3 text-base text-[#A5A6AB]">
                企业级CRM提供全面的数据分析和营销自动化功能，帮助企业更好地管理客户信息、销售机会、合同和发票等。该系统允许用户创建、编辑和查看客户信息等。
                该系统支持多种分析报告，包括客户分析、销售机会分析、Marketing
                ROI分析等
              </div>
            </div>
          </div>
          <div
            class="flex-1 flex flex-col h-[440px] shadow-sm rounded-lg overflow-hidden"
          >
            <div
              class="flex-1 bg-blue-200 bg-cover bg-no-repeat bg-center"
              style="background-image: url(/images/service-bg3.jpg);"
            >
            </div>
            <div class="h-[200px] p-4">
              <div class="text-xl text-[#2C2D2F]">智慧物流管理平台</div>
              <div class="mt-3 text-base text-[#A5A6AB]">
                智慧物流管理平台允许用户通过手机或平板电脑远程监控和调度物流车辆。用户可以通过设置自动化规则来控制物流车辆的出发时间和目的地，从而提高物流效率和减少车辆的空驶率。
                该系统支持多种物流车辆，包括货运卡车、公交车、出租车等
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="py-20 h-[726px] bg-[#D5D6DC]">
      <div class="w-[1200px] m-auto">
          <div class="flex items-center">
              <h1 class="text-4xl text-[#2c2d2f]">更多信息</h1>
              <h2 class="ml-4 text-2xl text-[#969DAF] font-normal">More Information</h2>
          </div>
      </div>
  </section> -->

    <section class="py-20 bg-[#F6F7F9]">
      <div class="w-[1200px] m-auto">
        <div class="flex items-center">
          <h1 class="text-4xl text-[#2c2d2f]">新闻动态</h1>
          <h2 class="ml-4 text-2xl text-[#969DAF] font-normal">News Updates</h2>
        </div>
        <div class="flex justify-between">
          <div
            class="w-[586px] h-[420px] bg-blue-200 bg-cover bg-no-repeat bg-center"
            style="background-image: url(/images/news-bg.jpg);"
          >
          </div>
          <div class="flex-1 ml-[95px] space-y-8">
            <div>
              <div class="text-[#2C2D2F] text-2xl">
                人工智能助手为制造业企业提高生产效率
              </div>
              <div class="text-[#A5A6AB] mt-4">
                随着人工智能技术的发展，越来越多的智能助手被应用到制造业中，以提高生产效率和降低生产成本。例如，一种名为“智能生产线”的系统，通过实时监控生产线上的设备运行状态，并根据传感器数据自动调整生产参数，从而提高了生产效率，降低了设备故障率。
              </div>
            </div>
            <div>
              <div class="text-[#2C2D2F] text-2xl">
                智慧物流平台助力快递业智能化发展
              </div>
              <div class="text-[#A5A6AB] mt-4">
                物流业是社会生活中的重要环节，近年来，智慧物流平台的发展越来越受到重视。例如，一种名为“物流调度管理系统”的智慧物流平台，通过大数据分析和云计算技术，实现了对物流车辆的智能调度，从而提高了物流效率，降低了运输成本。
              </div>
            </div>
            <div>
              <div class="text-[#2C2D2F] text-2xl">
                人工智能技术助力医疗诊断
              </div>
              <div class="text-[#A5A6AB] mt-4">
                医疗诊断是医学领域中的重要环节，近年来，人工智能技术在医疗诊断中的应用越来越广泛。例如，一种名为“智能诊断系统”的系统，通过分析患者的体检数据和临床表现，自动生成诊断结果，从而提高了诊断准确性和效率。
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="py-20 bg-gray-800">
      <section class="w-[1200px] m-auto flex space-x-[150px]">
        <div>
          <div class="text-white text-xl font-medium">关于我们</div>
          <ul class="list-none p-0 m-0 mt-6 text-white space-y-3">
            <li>关于我们</li>
            <li>企业文化</li>
            <li>合作伙伴</li>
            <li>加入我们</li>
          </ul>
        </div>
        <div>
          <div class="text-white text-xl font-medium">产品业务</div>
          <ul class="list-none p-0 m-0 mt-6 text-white space-y-3">
            <li>编程导航</li>
            <li>简历</li>
            <li>知识助手</li>
          </ul>
        </div>
        <div>
          <div class="text-white text-xl font-medium">联系我们</div>
          <ul class="list-none p-0 m-0 mt-6 text-white space-y-3">
            <li>商业合作</li>
            <li>微信公众号</li>
            <li>B站</li>
            <li>知乎</li>
          </ul>
        </div>
        <div>
          <div class="text-white text-xl font-medium">新闻资讯</div>
          <ul class="list-none p-0 m-0 mt-6 text-white space-y-3">
            <li>行业新闻</li>
            <li>公司新闻</li>
          </ul>
        </div>

        <div
          class="w-36 h-36 bg-white !ml-auto flex justify-center items-center text-[#333333] bg-cover"
          style="background-image: url(/images/qrcode.png);"
        >
        </div>
      </section>
    </footer>
    <div class="text-center p-8">Copyright @ 2023 Power By fxlogo</div>
  </body>
</html>

